@media screen and (max-width: 1000px) {
    .parallaxCointainer {
        background-color: black;
        }
    .title-cointainer {
        top: 0;
        left: 4%;
        h1 {
            font-size: 50px;
        }
    }
    .button-cointainer {
        position: absolute;
        width: 30%;
        top: 45%;
        left: 45%;
        button {
            font-size: 10px;
        }
    }
    nav {
        z-index: 1;
        left: 0%;
        width: 30%;
        top: 60%;
    }
    .dropdown {
        position: absolute;
        height: 15vh;
        width: 30%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 20px 50px;
        #home-button {
            visibility: hidden;
        }
    }
    .home-s-container {
        position: absolute;
        transform: translate(-50%y -50%);
        left: 18%;
        top: 120%;
        text-align: center;
        h1 {
            color: white;
            font-size: 20px;
        }
}  }