$maxWidth: 100%;
$maxHeight: 100%;
body  {
    background-color: #EF8829;
    width: $maxWidth;
    height: $maxHeight;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
html {
    width: $maxWidth;
    height: $maxHeight;
    overflow-x: hidden;
}
nav {
    position: absolute;
    left: 70%;
    width: 30%;
}
.dropdown {
    position: absolute;
    height: 10vh;
    width: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    #home-button {
        cursor: pointer;
        font-size: 30px;
        outline: none;
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 33%;
        left: 0%;
    }
    #server-button {
        cursor: pointer;
        font-size: 30px;
        outline: none;
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 33%;
        left: 88%;
    }
    a, button {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
.server-info {
    ul {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        bottom: 0;
        left: 90%;
        top: 120%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        line-height: 80px;
        list-style: none;
        opacity: 0;
        transform: translateY(10px);
        transition: all 0.4 ease;
    }
}
.server-info button:focus + ul {
    transition: all 0.4 ease;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}
.parallaxCointainer {
    height: $maxHeight;
    width: $maxWidth;
    background-image: url('resources/OSX_Banner.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-cointainer {
    position: absolute;
    width: 70%;
    top: 0;
    left: 4%;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 90px;
        color: #EF8829;
        position: absolute;
    }
}
.button-cointainer {
    position: absolute;
    width: 30%;
    top: 25%;
    left: 32%;
    button {
        position: absolute;
        top: 20%;
        color: #F8F7F9;
        background-color: transparent;
        border: 1px solid #F8F7F9;
        padding: 20px 30px;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        text-align: center;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        &:hover {
            transition: 0.3s;
            background-color: #F8F7F9;
            color: #2B2D42;
            padding: 20px 35px;
        }
    }
}
#home-join-footer {
    height: 50%;
    background-color: #282f33;
}
.home-s-container {
    position: absolute;
    transform: translate(-50%y -50%);
    left: 38%;
    top: 120%;
    text-align: center;
    h1 {
        color: white;
        font-size: 40px;
    }
    #footer-btn-jn {
        background-color: #7289DA;
        padding: 10px 20px;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: center;
        &:hover {
            transition: 0.3s;
            padding: 15px 20px;
            background-color: #6e83cf;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
    #footer-btn-rl {
        background-color: #002E47;
        color: white;
        padding: 10px 20px;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            padding: 15px 20px;
            background-color: rgb(0, 40, 61);
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}
.arrows {
	top: 80%;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
	cursor: auto;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

::-webkit-scrollbar {
	width: 5px;
}
	  
::-webkit-scrollbar-track {
	background-color: rgb(0, 0, 0);
}
	  
::-webkit-scrollbar-thumb {
	background: #EF8829;
	border-radius: 4px;
}
	  
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.856);
}
@import 'media';