$maxWidth: 100%;
$maxHeight: 100%;
body  {
    width: $maxWidth;
    height: $maxHeight;
    margin: auto;
    font-family: 'Open Sans', sans-serif; 
    background-color: #1b1f22;
}
html {
    width: $maxWidth;
    height: $maxHeight;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
nav {
    position: absolute;
    left: 70%;
    width: 30%;
}
.dropdown {
    position: absolute;
    height: 10vh;
    width: 30%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    #home-button {
        cursor: pointer;
        font-size: 30px;
        outline: none;
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20%;
        left: 0%;
    }
    #server-button {
        cursor: pointer;
        font-size: 30px;
        outline: none;
        padding: 10px 20px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 20%;
        left: 90%;
    }
    a, button {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}
.server-info {
    ul {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        bottom: 0;
        left: 90%;
        top: 120%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        line-height: 80px;
        list-style: none;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.4 ease;
    }
}
.server-info button:focus + ul {
    transition: all 0.4 ease;
    transform: translateY(0px);
    opacity: 1;
    pointer-events: all;
}
.title-cointainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    h1 {
        border-bottom: 2px rgb(197, 197, 197) solid;
        color: white;
    }
}

#rules-s {
    background-image: #2B2D42;
    height: 200%;
    width: $maxWidth;
}
.rules-s-li-cointainer {
    list-style-type: none;
    position: relative;
    left: 10%;
    top: 50%;
    color: white;
    line-height: 100px;
    a {
        text-decoration: none;
        color: rgb(204, 204, 204);
    }
    li {
        width: 80%;
        font-size: 20px;
        border-bottom: 1px white solid;
    }
    h2 {
        font-size: 30px;
    }
}


.arrows {
	top: 80%;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
	cursor: auto;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

::-webkit-scrollbar {
	width: 5px;
}
	  
::-webkit-scrollbar-track {
	background-color: rgb(0, 0, 0);
}
	  
::-webkit-scrollbar-thumb {
	background: rgb(255, 255, 255);
	border-radius: 4px;
}
	  
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.856);
}
@import 'media';